/* ANY CSS FOR ALL WIDTHS GOES HERE
----------------------------------------------------------- */

/* ALL WIDTHS UNDER 970PX
----------------------------------------------------------- */

@media screen and (max-width: 970px){

	/* DEFAULT
	----------------- */

	.s5_wrap {
	width:100% !important;
	}
	
	.s5_is_display, .s5_is_slide {
	position:relative !important;
	}
	
	.s5_is_slide {
	height:auto !important;
	}
	
	#fontControls {
	display:none;
	}
	
	/* CUSTOM
	----------------- */
	
	body {
	font-size:0.9em !important;
	}
	
	#s5_nav li {
	padding:19px 17px 0;
	}
	
	.image_top {
	width:50%;
	}
	
	.image_top_row {
	margin-bottom:25px;
	overflow:hidden;
	float:left;
	}
	
	.image_top_wrap {
	margin-bottom:-25px;
	}
	
	.video_wrap_right, .video_wrap_left {
	width:100%;
	}
	
	.video_wrap_left {
	padding-bottom:30px;
	}
	
	#s5_bottom_row1 {
	padding:20px;
	}
	
	#s5_bottom_row3_area1 {
	padding:35px 0px 0px 35px;
	}
	
	#s5_bottom_row3 .module_round_box_outer {
	margin-bottom:35px;
	margin-right:35px;
	}
	
	#s5_footer_area1 {
	padding-bottom:0px;
	padding-top:0px;
	}
	
}


/* TABLET PORTRAIT MODE CSS
----------------------------------------------------------- */

@media screen and (min-width:580px) and (max-width: 970px){

	
	/* CUSTOM
	----------------- */
	
}

@media screen and (max-width: 750px)
#s5_search_wrap {
    display: none!important;
}


/* TABLET PORTRAIT MODE CSS - SMALLER TABLETS
----------------------------------------------------------- */

@media screen and (max-width: 750px){

	/* CUSTOM
	----------------- */
	
div#s5_responsive_mobile_top_bar_wrap {
    position: static;
}

	#s5_search_wrap {
display: none!important;
	}

div#s5_search_wrap div.moduletable.jmoddiv.jmodinside ul.nav.menutoprightmenu {
    display: none;
}

div#s5_search_wrap div.moduletable.jmoddiv.jmodinside ul.nav.menutoprightmenu a {
    display: none;
}
	
	#s5_loginreg {
	display:none;
	}
	
	.slideInfoZone {
	font-size:0.8em;
	width:94% !important;
	padding-left:3% !important;
	padding-right:3% !important;
	text-align:center !important;
	}
	
	#s5_logo_wrap {
	float:none;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	}
	
	.s5_logo_css img {
	float:none;
	}
	
	#s5_masonry_navwrap {
	margin-top:0px;
	float:none !important;
	}
	
	ul.s5_masonry_articles {
	float:none !important;
	margin-bottom:20px !important;
	}
	
	ul.s5_masonry_articles li {
	margin-bottom:5px !important;
	margin-left:0px !important;
	margin-right:2px !important;
	}
	
	#s5_masonry_navwrap {
	padding-bottom:20px;
	}
	
	#s5_content_body_wrap {
	top:30px;
	}

}


/* MOBILE LAYOUT CSS
----------------------------------------------------------- */

@media screen and (max-width: 579px){

	/* DEFAULT
	----------------- */

	#s5_right_column_wrap_inner .s5_float_left, #s5_left_column_wrap_inner .s5_float_left {
	float:none;
	}

	#s5_columns_wrap_inner {
	width:100%;
	}

	#s5_center_column_wrap {
	width:100%;
	left:100%;
	}

	#s5_left_column_wrap {
	left:0%;
	}
	
	#s5_left_top_wrap, #s5_left_column_wrap, #s5_left_inset_wrap, #s5_left_wrap, #s5_left_bottom_wrap, #s5_right_top_wrap, #s5_right_column_wrap, #s5_right_inset_wrap, #s5_right_wrap, #s5_right_bottom_wrap, #s5_top_row1 .s5_float_left, #s5_top_row2 .s5_float_left, #s5_top_row3 .s5_float_left, #s5_above_columns_inner .s5_float_left, #s5_middle_top .s5_float_left , #s5_middle_bottom .s5_float_left, #s5_below_columns_inner .s5_float_left, #s5_bottom_row1 .s5_float_left, #s5_bottom_row2, .s5_float_left, #s5_bottom_row3 .s5_float_left, #s5_above_body .s5_float_left, #s5_below_body .s5_float_left {
	width:100% !important;
	}
	
	#s5_center_column_wrap_inner {
	margin:0px !important;
	}
	
	#s5_left_column_wrap {
	margin-right:0px !important;
	}
	
	#s5_right_column_wrap {
	margin-left:0px !important;
	}
	
	.items-row .item {
	width:100% !important;
	padding-left:0px !important;
	padding-right:0px !important;
	margin-right:0px !important;
	margin-left:0px !important;
	}
	
	/* CUSTOM
	----------------- */
	
	.image_top {
	width:100%;
	margin-bottom:25px;
	}
	
	.image_top_row {
	margin-bottom:0px;
	}
	
	.image_top_inner {
	padding:22px;
	margin:0px;
	margin-left:25px;
	}
	
	.plus_img_wrap_outer {
	width:100%;
	margin-bottom:25px;
	}
	
	.plus_img_main_wrap {
	margin-bottom:-25px;
	}
	
	#s5_bottom_row1 {
	padding:0px;
	}

}


/* CUSTOM SIZES
----------------------------------------------------------- */


@media screen and (max-width: 1100px){

#s5_top_row1_area1.s5_no_custom_bg {
background:transparent !important;
}

.inputbox.mailchimp_signup {
width:70% !important;
margin-bottom:10px !important;
}

}


@media screen and (max-width: 1650px){

.jdGallery a.left {
left:0% !important;
}

.jdGallery a.right {
right:0% !important;
}

}

@media screen and (max-width: 1550px){

.jdGallery a.left {
display:none;
}

.jdGallery a.right {
display:none;
}

}

@media screen and (max-width: 900px) {

#s5_pos_custom_3 {
margin-bottom:0px;
}

#s5_columns_wrap_inner {
width:100% !important;
}

#s5_center_column_wrap {
width:100% !important;
left:100% !important;
}

#s5_left_column_wrap {
left:0% !important;
}

#s5_left_top_wrap, #s5_left_column_wrap, #s5_left_inset_wrap, #s5_left_wrap, #s5_left_bottom_wrap, #s5_right_top_wrap, #s5_right_column_wrap, #s5_right_inset_wrap, #s5_right_wrap, #s5_right_bottom_wrap {
width:100% !important;
}

#s5_center_column_wrap_inner {
margin:0px !important;
}

#s5_left_column_wrap {
margin-right:0px !important;
}

#s5_right_column_wrap {
margin-left:0px !important;
}

.items-row .item {
width:100% !important;
padding-left:0px !important;
padding-right:0px !important;
margin-right:0px !important;
margin-left:0px !important;
}

#s5_pos_custom_2, #s5_left_wrap_inner, #s5_right_wrap_inner {
height:auto !important;
min-height:auto !important;
}

#s5_right_column_wrap_inner, #s5_left_column_wrap_inner {
padding-left:25px;
}

#s5_right_column_wrap, #s5_left_column_wrap {
border-top:solid 1px #EAEAEA;
}

#s5_pos_custom_2 {
width:100% !important;
float:left !important;
}

#s5_component_call_wrap {
float:left!important;
width:100% !important;
}

#s5_component_call_wrap_inner {

}

}